apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: stage

resources:
  - ../../base

images:
  - name: magento
    newName: magento-hello-world
    newTag: latest

patches:
  - target:
      kind: Deployment
      name: magento-web-blue
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

  - target:
      kind: Deployment
      name: magento-web-green
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

  - target:
      kind: ServiceAccount
      name: magento
    patch: |-
      - op: replace
        path: /metadata/annotations/eks.amazonaws.com~1role-arn
        value: arn:aws:iam::123456789012:role/magento-stage-irsa-role

configMapGenerator:
  - name: magento-env-stage
    literals:
      - MAGE_MODE=default
      - MAGENTO_BACKEND_FRONTNAME=admin
      - AWS_S3_BUCKET=magento-media-stage
      - AWS_REGION=eu-west-1
      - AWS_S3_ENDPOINT=http://localstack:4566
      - AWS_SQS_ENDPOINT=http://localstack:4566
