apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - magento-web-deployment-blue.yaml
  - magento-web-deployment-green.yaml
  - magento-cron-deployment.yaml
  - magento-consumer-deployment.yaml
  - magento-service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml
  - configmaps.yaml
  # - external-secrets.yaml  # Commented out - requires External Secrets Operator CRDs

commonLabels:
  app: magento
  managed-by: argocd